<table>
    <thead>
        <tr>
            <th colspan="2">{{ title }}</th>
        </tr>
    </thead>
    <tbody>
    {% for name, valueList in headerList %}
        <tr style="width: 100%;">
            <th>{{ name }}</th>
            <td>
                {% for value in valueList %}
                {{ value }}<br>
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
